.Searchbar {
  width: 100%;
  padding: 10px;
}

.Searchbar input {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  outline: none;
  box-shadow: 0 1px 2px #eee;
  border: 1px solid #ccc;
  border-radius: 50px;
}
