.Searchbar {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}

.Searchbar input {
  padding: 10px 15px;
  width: 60%;
  font-size: 20px;
  outline: none;
  box-shadow: 0 1px 2px #eee;
  border: 1px solid #ccc;
  border-radius: 50px;
}
