.Searchbar {
  width: 100%;
  margin-bottom: 15px;
}

.Searchbar input {
  padding: 10px 15px;
  width: 70%;
  font-size: 20px;
  outline: none;
  box-shadow: 0 1px 2px #eee;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-bottom: 15px;
}

.Searchbar .header {
  margin: 0;
  padding: 30px 0;
  color: #ccc;
}

@media (min-width: 560px) {
  .Searchbar input {
    margin-bottom: 20px;
  }
}

@media (min-width: 850px) {
  .Searchbar input {
    width: 40%;
  }
}
