.Weather .Day {
  background-image: url("../../assets/Image/day.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Weather .Night {
  background-image: url("../../assets/Image/night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Weather .header {
  margin: 0;
  padding: 30px 0;
  color: white;
}
