.Weather .header {
  margin: 0;
  padding: 30px 0;
  color: white;
}

.day {
  background-image: url("../../assets/Image/day.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.night {
  background-image: url("../../assets/Image/night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.backgroundImg {
  background-image: url("../../assets/Image/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
