.weather {
  background-image: url("../../assets/day.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.weather.night {
  background-image: url("../../assets/night.jpg");
}

main {
  height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin-bottom: 75px;
}

.search-bar {
  width: 90%;
  display: block;
  padding: 12px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
