.Display {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  text-align: left;
  margin: 50px 0;
}

.Display p {
  margin: 0;
  padding: 0;
  color: #ccc;
}

.Name {
  font-size: 40px;
  color: #ccc;
  margin-bottom: 300px;
}

.Temperature {
  display: flex;
  justify-content: space-around;
}

.Temp {
  margin-top: 70px;
  position: relative;
  left: -30px;
}

.Temp__name {
  font-size: 80px;
}
