.Display {
  text-align: left;
  margin: 10px 0;
}

.WeatherDisplay p {
  margin: 0;
  padding: 0;
  color: #ccc;
}

.Name {
  font-size: 30px;
}

@media (min-width: 560px) {
  .Display {
    display: inline-block;
  }
}

@media (min-width: 850px) {
  .Display {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }

  .Name {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .Display {
    display: flex;
    justify-content: space-between;
    margin: 50px;
  }

  .Name {
    font-size: 50px;
  }
}
