.Display {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  text-align: left;
  margin: 50px 0;
}

.WeatherDisplay p {
  margin: 0;
  padding: 0;
  color: #ccc;
}

.Name {
  font-size: 60px;
  margin-bottom: 300px;
}
