.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("./assets/Image/weather-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
